<h1>Defi</h1><br><br>{{abi|json_script:"abiScript"}}

<script type="text/javascript">

async function initWeb3(){
    ethEnabled = false;
    if (window.ethereum) {
            const web3 = new Web3(window.ethereum);
            await window.ethereum.enable();
        ethEnabled = true;
    }
}


async function _endProposalRegistration() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.endProposalRegistration.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("endProposalRegistrationReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("endProposalRegistrationReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("endProposalRegistrationReturn").innerHTML = "";

        });
}

async function _endVotingSession() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.endVotingSession.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("endVotingSessionReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("endVotingSessionReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("endVotingSessionReturn").innerHTML = "";

        });
}

async function _offerProposal(__description) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.offerProposal.sendTransaction(__description,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("offerProposalReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("offerProposalReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("offerProposalReturn").innerHTML = "";

        });
}

async function _owner() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.owner.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("ownerReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("ownerReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("ownerReturn").innerHTML = "";

        });
}

async function _proposals(_) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.proposals.call(_,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("proposalsReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("proposalsReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("proposalsReturn").innerHTML = "";

        });
}

async function _registerVoter(__address) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.registerVoter.sendTransaction(__address,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("registerVoterReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("registerVoterReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("registerVoterReturn").innerHTML = "";

        });
}

async function _registeredAddresses(_) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.registeredAddresses.call(_,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("registeredAddressesReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("registeredAddressesReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("registeredAddressesReturn").innerHTML = "";

        });
}

async function _renounceOwnership() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.renounceOwnership.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("renounceOwnershipReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("renounceOwnershipReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("renounceOwnershipReturn").innerHTML = "";

        });
}

async function _resetVoters() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.resetVoters.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("resetVotersReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("resetVotersReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("resetVotersReturn").innerHTML = "";

        });
}

async function _startProposalRegistration() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.startProposalRegistration.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("startProposalRegistrationReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("startProposalRegistrationReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("startProposalRegistrationReturn").innerHTML = "";

        });
}

async function _startRegisteringVoters() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.startRegisteringVoters.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("startRegisteringVotersReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("startRegisteringVotersReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("startRegisteringVotersReturn").innerHTML = "";

        });
}

async function _startVotingSession() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.startVotingSession.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("startVotingSessionReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("startVotingSessionReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("startVotingSessionReturn").innerHTML = "";

        });
}

async function _tallyVotes() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.tallyVotes.sendTransaction( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("tallyVotesReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("tallyVotesReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("tallyVotesReturn").innerHTML = "";

        });
}

async function _transferOwnership(_newOwner) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.transferOwnership.sendTransaction(_newOwner,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("transferOwnershipReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("transferOwnershipReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("transferOwnershipReturn").innerHTML = "";

        });
}

async function _vote(__proposalId) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.vote.sendTransaction(__proposalId,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("voteReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("voteReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("voteReturn").innerHTML = "";

        });
}

async function _voters(_) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.voters.call(_,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("votersReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("votersReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("votersReturn").innerHTML = "";

        });
}

async function _winningProposalId() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.winningProposalId.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("winningProposalIdReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("winningProposalIdReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("winningProposalIdReturn").innerHTML = "";

        });
}</script><br><h3>endProposalRegistration</h3><br>
<button onclick="_endProposalRegistration();">submit</button>
<div id="endProposalRegistrationReturn"></div><br><br>

<h3>endVotingSession</h3><br>
<button onclick="_endVotingSession();">submit</button>
<div id="endVotingSessionReturn"></div><br><br>

<h3>offerProposal</h3>_description (text) : <input type="text" name="offerProposal__description" id="offerProposal__description"/><br>   
<br>
<button onclick="_offerProposal(document.getElementById('offerProposal__description').value);">submit</button>
<div id="offerProposalReturn"></div><br><br>

<h3>owner</h3><br>
<button onclick="_owner();">submit</button>
<div id="ownerReturn"></div><br><br>

<h3>proposals</h3> (number) : <input type="number" name="proposals_" id="proposals_"/><br>   
<br>
<button onclick="_proposals(document.getElementById('proposals_').value);">submit</button>
<div id="proposalsReturn"></div><br><br>

<h3>registerVoter</h3>_address (text) : <input type="text" name="registerVoter__address" id="registerVoter__address"/><br>   
<br>
<button onclick="_registerVoter(document.getElementById('registerVoter__address').value);">submit</button>
<div id="registerVoterReturn"></div><br><br>

<h3>registeredAddresses</h3> (number) : <input type="number" name="registeredAddresses_" id="registeredAddresses_"/><br>   
<br>
<button onclick="_registeredAddresses(document.getElementById('registeredAddresses_').value);">submit</button>
<div id="registeredAddressesReturn"></div><br><br>

<h3>renounceOwnership</h3><br>
<button onclick="_renounceOwnership();">submit</button>
<div id="renounceOwnershipReturn"></div><br><br>

<h3>resetVoters</h3><br>
<button onclick="_resetVoters();">submit</button>
<div id="resetVotersReturn"></div><br><br>

<h3>startProposalRegistration</h3><br>
<button onclick="_startProposalRegistration();">submit</button>
<div id="startProposalRegistrationReturn"></div><br><br>

<h3>startRegisteringVoters</h3><br>
<button onclick="_startRegisteringVoters();">submit</button>
<div id="startRegisteringVotersReturn"></div><br><br>

<h3>startVotingSession</h3><br>
<button onclick="_startVotingSession();">submit</button>
<div id="startVotingSessionReturn"></div><br><br>

<h3>tallyVotes</h3><br>
<button onclick="_tallyVotes();">submit</button>
<div id="tallyVotesReturn"></div><br><br>

<h3>transferOwnership</h3>newOwner (text) : <input type="text" name="transferOwnership_newOwner" id="transferOwnership_newOwner"/><br>   
<br>
<button onclick="_transferOwnership(document.getElementById('transferOwnership_newOwner').value);">submit</button>
<div id="transferOwnershipReturn"></div><br><br>

<h3>vote</h3>_proposalId (number) : <input type="number" name="vote__proposalId" id="vote__proposalId"/><br>   
<br>
<button onclick="_vote(document.getElementById('vote__proposalId').value);">submit</button>
<div id="voteReturn"></div><br><br>

<h3>voters</h3> (text) : <input type="text" name="voters_" id="voters_"/><br>   
<br>
<button onclick="_voters(document.getElementById('voters_').value);">submit</button>
<div id="votersReturn"></div><br><br>

<h3>winningProposalId</h3><br>
<button onclick="_winningProposalId();">submit</button>
<div id="winningProposalIdReturn"></div><br><br>

