<h1>Whitelist</h1><br><br>{{abi|json_script:"abiScript"}}

<script type="text/javascript">

async function initWeb3(){
    ethEnabled = false;
    if (window.ethereum) {
            const web3 = new Web3(window.ethereum);
            await window.ethereum.enable();
        ethEnabled = true;
    }
}


async function __whitelist(_) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract._whitelist.call(_,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("_whitelistReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("_whitelistReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("_whitelistReturn").innerHTML = "";

        });
}

async function _addresses(_) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.addresses.call(_,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("addressesReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("addressesReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("addressesReturn").innerHTML = "";

        });
}

async function _getAddresses() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.getAddresses.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("getAddressesReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("getAddressesReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("getAddressesReturn").innerHTML = "";

        });
}

async function _whitelist(__address) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.whitelist.sendTransaction(__address,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("whitelistReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("whitelistReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("whitelistReturn").innerHTML = "";

        });
}</script><br><h3>_whitelist</h3> (text) : <input type="text" name="_whitelist_" id="_whitelist_"/><br>   
<br>
<button onclick="__whitelist(document.getElementById('_whitelist_').value);">submit</button>
<div id="_whitelistReturn"></div><br><br>

<h3>addresses</h3> (number) : <input type="number" name="addresses_" id="addresses_"/><br>   
<br>
<button onclick="_addresses(document.getElementById('addresses_').value);">submit</button>
<div id="addressesReturn"></div><br><br>

<h3>getAddresses</h3><br>
<button onclick="_getAddresses();">submit</button>
<div id="getAddressesReturn"></div><br><br>

<h3>whitelist</h3>_address (text) : <input type="text" name="whitelist__address" id="whitelist__address"/><br>   
<br>
<button onclick="_whitelist(document.getElementById('whitelist__address').value);">submit</button>
<div id="whitelistReturn"></div><br><br>

