<h1>ERC20Token</h1><br><br>{{abi|json_script:"abiScript"}}

<script type="text/javascript">

async function initWeb3(){
    ethEnabled = false;
    if (window.ethereum) {
            const web3 = new Web3(window.ethereum);
            await window.ethereum.enable();
        ethEnabled = true;
    }
}


async function _allowance(_owner, _spender) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.allowance.call(_owner, _spender,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("allowanceReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("allowanceReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("allowanceReturn").innerHTML = "";

        });
}

async function _approve(_spender, _amount) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.approve.sendTransaction(_spender, _amount,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("approveReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("approveReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("approveReturn").innerHTML = "";

        });
}

async function _balanceOf(_account) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.balanceOf.call(_account,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("balanceOfReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("balanceOfReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("balanceOfReturn").innerHTML = "";

        });
}

async function _decimals() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.decimals.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("decimalsReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("decimalsReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("decimalsReturn").innerHTML = "";

        });
}

async function _decreaseAllowance(_spender, _subtractedValue) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.decreaseAllowance.sendTransaction(_spender, _subtractedValue,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("decreaseAllowanceReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("decreaseAllowanceReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("decreaseAllowanceReturn").innerHTML = "";

        });
}

async function _increaseAllowance(_spender, _addedValue) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.increaseAllowance.sendTransaction(_spender, _addedValue,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("increaseAllowanceReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("increaseAllowanceReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("increaseAllowanceReturn").innerHTML = "";

        });
}

async function _name() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.name.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("nameReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("nameReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("nameReturn").innerHTML = "";

        });
}

async function _symbol() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.symbol.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("symbolReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("symbolReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("symbolReturn").innerHTML = "";

        });
}

async function _totalSupply() {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.totalSupply.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("totalSupplyReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("totalSupplyReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("totalSupplyReturn").innerHTML = "";

        });
}

async function _transfer(_recipient, _amount) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.transfer.sendTransaction(_recipient, _amount,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("transferReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("transferReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("transferReturn").innerHTML = "";

        });
}

async function _transferFrom(_sender, _recipient, _amount) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.transferFrom.sendTransaction(_sender, _recipient, _amount,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("transferFromReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("transferFromReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("transferFromReturn").innerHTML = "";

        });
}</script><br><h3>allowance</h3>owner (text) : <input type="text" name="allowance_owner" id="allowance_owner"/><br>   
spender (text) : <input type="text" name="allowance_spender" id="allowance_spender"/><br>   
<br>
<button onclick="_allowance(document.getElementById('allowance_owner').value, document.getElementById('allowance_spender').value);">submit</button>
<div id="allowanceReturn"></div><br><br>

<h3>approve</h3>spender (text) : <input type="text" name="approve_spender" id="approve_spender"/><br>   
amount (number) : <input type="number" name="approve_amount" id="approve_amount"/><br>   
<br>
<button onclick="_approve(document.getElementById('approve_spender').value, document.getElementById('approve_amount').value);">submit</button>
<div id="approveReturn"></div><br><br>

<h3>balanceOf</h3>account (text) : <input type="text" name="balanceOf_account" id="balanceOf_account"/><br>   
<br>
<button onclick="_balanceOf(document.getElementById('balanceOf_account').value);">submit</button>
<div id="balanceOfReturn"></div><br><br>

<h3>decimals</h3><br>
<button onclick="_decimals();">submit</button>
<div id="decimalsReturn"></div><br><br>

<h3>decreaseAllowance</h3>spender (text) : <input type="text" name="decreaseAllowance_spender" id="decreaseAllowance_spender"/><br>   
subtractedValue (number) : <input type="number" name="decreaseAllowance_subtractedValue" id="decreaseAllowance_subtractedValue"/><br>   
<br>
<button onclick="_decreaseAllowance(document.getElementById('decreaseAllowance_spender').value, document.getElementById('decreaseAllowance_subtractedValue').value);">submit</button>
<div id="decreaseAllowanceReturn"></div><br><br>

<h3>increaseAllowance</h3>spender (text) : <input type="text" name="increaseAllowance_spender" id="increaseAllowance_spender"/><br>   
addedValue (number) : <input type="number" name="increaseAllowance_addedValue" id="increaseAllowance_addedValue"/><br>   
<br>
<button onclick="_increaseAllowance(document.getElementById('increaseAllowance_spender').value, document.getElementById('increaseAllowance_addedValue').value);">submit</button>
<div id="increaseAllowanceReturn"></div><br><br>

<h3>name</h3><br>
<button onclick="_name();">submit</button>
<div id="nameReturn"></div><br><br>

<h3>symbol</h3><br>
<button onclick="_symbol();">submit</button>
<div id="symbolReturn"></div><br><br>

<h3>totalSupply</h3><br>
<button onclick="_totalSupply();">submit</button>
<div id="totalSupplyReturn"></div><br><br>

<h3>transfer</h3>recipient (text) : <input type="text" name="transfer_recipient" id="transfer_recipient"/><br>   
amount (number) : <input type="number" name="transfer_amount" id="transfer_amount"/><br>   
<br>
<button onclick="_transfer(document.getElementById('transfer_recipient').value, document.getElementById('transfer_amount').value);">submit</button>
<div id="transferReturn"></div><br><br>

<h3>transferFrom</h3>sender (text) : <input type="text" name="transferFrom_sender" id="transferFrom_sender"/><br>   
recipient (text) : <input type="text" name="transferFrom_recipient" id="transferFrom_recipient"/><br>   
amount (number) : <input type="number" name="transferFrom_amount" id="transferFrom_amount"/><br>   
<br>
<button onclick="_transferFrom(document.getElementById('transferFrom_sender').value, document.getElementById('transferFrom_recipient').value, document.getElementById('transferFrom_amount').value);">submit</button>
<div id="transferFromReturn"></div><br><br>

