<h1>Faucet</h1><br><br>{{abi|json_script:"abiScript"}}


<script type="text/javascript">



ethereum.autoRefreshOnNetworkChange = false;
abi = JSON.parse(document.getElementById("abiScript").textContent);
address = "{{address}}";
ethEnabled = false;

async function initWeb3(){
    if (window.ethereum && !window.ethEnabled) {
            const web3 = new Web3(window.ethereum);
            await window.ethereum.enable();
            window.contract = web3.eth.contract(window.abi, window.address).at(window.address);
        window.ethEnabled = true;
    }
}





async function donate() {


    await initWeb3();

    await web3.eth.sendTransaction(
        {from: web3.eth.accounts[0],
        to:"{{address}}",
        value:web3.toWei(1, "ether"),
        gasPrice: {{gasPrice}}}, 
        function(error , result){            if(error){
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                //document.getElementById("timeoutsReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else{
                //document.getElementById("timeoutsReturn").innerHTML = "";
            }

        });
}






async function _timeouts(_) {

    await initWeb3();
	

	await contract.timeouts.call(_,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("timeoutsReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("timeoutsReturn").innerHTML = result.toString().replace(/,/g, "<br>");
            }
            else
                document.getElementById("timeoutsReturn").innerHTML = "";

        });
}</script>
The faucet currently holds <u>{{balance}} ETH </u>
<br><br>
If you care to make a donation, please send ETH to <a href="javascript:donate();">{{address}}</a><br>

<br>
<form action="/Faucet/request/" method="get">
    <label for="address">Address to provision :</label>
    <input type="text" id="address" name="address"><br>
    <input type="submit" value="Submit"></form>

<br>


<h3>timeouts</h3> address : <input type="text" name="timeouts_" id="timeouts_"/><br>   


<button onclick="_timeouts(document.getElementById('timeouts_').value);">submit</button>
<div id="timeoutsReturn"></div><br><br>