<h1>Greeter</h1><br><br>{{abi|json_script:"abiScript"}}

<script type="text/javascript">

async function initWeb3(){
    ethEnabled = false;
    if (window.ethereum) {
            const web3 = new Web3(window.ethereum);
            await window.ethereum.enable();
        ethEnabled = true;
    }
}


async function _greet() {


	//initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.greet.call( {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("greetReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("greetReturn").innerHTML = result;
            }
            else
                document.getElementById("greetReturn").innerHTML = "";

        });
}

async function _setGreeting(__greeting) {


	initWeb3();

	abi = JSON.parse(document.getElementById("abiScript").textContent);
	address = "{{address}}";
	contract = web3.eth.contract(abi, address).at(address);

	await contract.setGreeting.sendTransaction(__greeting,  {from: web3.eth.accounts[0],gasPrice: {{gasPrice}} }, function(error , result){			if(error){
                 document.getElementById("setGreetingReturn").innerHTML = "there was an error";
                 console.log(error.code);
            }
             else if(result != undefined){
                //TODO : test this with smart contract that has a function which returns several things
                document.getElementById("setGreetingReturn").innerHTML = result;
            }
            else
                document.getElementById("setGreetingReturn").innerHTML = "";

        });
}</script><br><h3>greet</h3><br>
<button onclick="_greet();">submit</button>
<div id="greetReturn"></div><br><br>

<h3>setGreeting</h3>_greeting (text) : <input type="text" name="setGreeting__greeting" id="setGreeting__greeting"/><br>   
<br>
<button onclick="_setGreeting(document.getElementById('setGreeting__greeting').value);">submit</button>
<div id="setGreetingReturn"></div><br><br>

