<body onload="post()"></body>
<script type="text/javascript">



ethereum.autoRefreshOnNetworkChange = false;





async function initWeb3(){
    if (window.ethereum) {
            const web3 = new Web3(window.ethereum);
            await window.ethereum.enable();
            window.accounts = web3.eth.accounts;
    }
    else
    	alert('Please install metamask');
}


async function post(){
	
	await initWeb3();

	form = document.createElement('form');
	form.method = "post";
	form.action = "/Defi/";

	for (number in window.accounts) {
		hiddenField = document.createElement('input');
		hiddenField.type = 'hidden';
		hiddenField.name = number;
		hiddenField.value = window.accounts[number];

		form.appendChild(hiddenField);
	}
	document.body.appendChild(form);

	form.submit();
}



</script>